.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

// #map {
//   height: 100%;
// }

// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   margin: 0 2rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 0.5rem;
//   animation-name: example;
//   animation-duration: 2s;
//   animation-timing-function: ease-in;
// }

:host {

  ion-content.background{
    --background: url(../../../assets/images/background.png) 0 0/100% 100% no-repeat;
  }

  ion-img {
    height: 14rem;
    margin-bottom: 1.5rem;
  }

}