<ion-content class="background" [fullscreen]="true">
  <div id="container">
    <ion-img src="../../assets/images/silvioelu3.png"></ion-img>
    <p class="mb--5">convidam para cerimônia de casamento</p>

    <div class="container-inner-date">
      <span>Sábado</span>
      <p class="container-date">10.12.2022</p>
    </div>

    <h6>Local: Chácara Recanto dos Pinheiros</h6>

    <div class="container-buttons">
      <button (click)="confirmNavigation()">
        <ion-img src="../../assets/images/presenca.png"></ion-img>
      </button>
      <button (click)="localizationNavigation()">
        <ion-img src="../../assets/images/localizacao.png"></ion-img>
      </button>
      <button>
        <ion-img src="../../assets/images/listaPresente.png"></ion-img>
      </button>
      <button>
        <ion-img src="../../assets/images/informacao.png"></ion-img>
      </button>
    </div>
  </div>
</ion-content>
