:host ::ng-deep {
  ion-content.background{
    --background: url(../../assets/images/background.png) 0 0/100% 100% no-repeat !important;
  }

  ion-img {
    height: 14rem;
    margin-bottom: 1.5rem;
  }

}